body {
    background-color: #000000;
    color: #ffffff;
}

/* header starts here */
.navbar-items {
    list-style: none;
}

.navbar-item >a {
    text-decoration: none;
    color: #ffffff;
}
/* header ends here */