@import url('https://fonts.cdnfonts.com/css/sunday-gallery');
@import url('https://fonts.cdnfonts.com/css/manrope');
@import url('https://fonts.cdnfonts.com/css/poppins');               
body {
    background-color: #000000;
    color: #ffffff;
}

.container { 
    margin: auto;
    padding: 0px 24px 0px 24px;
} 

/* header starts here */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo >h1 {
    font-size: 56px;
    font-family: 'Sunday Gallery', sans-serif;
                                                
}

.navbar-items {
    list-style: none;
    display: flex;
}

.navbar-item {
    font-family: 'Manrope', sans-serif;                                         
    margin: 0px 0px 0px 32px;
    font-size: 28px;
}
.navbar-item >a {
    text-decoration: none;
    color: #ffffff;
}
/* header ends here */

/* main starts here */
.main {
    position: absolute;
    bottom: 0;
}

.main__title {
    margin: 0px 0px 70px 0px;
    font-family: 'Poppins', sans-serif;
                                        
}